body{
	background-image: url(image/bgcolor1.png);
	background-repeat:no-repeat;
	background-size: cover;	
}


.header{
	color:white;
	background-color:black;
	opacity:0.6;
	font-size:20px;
	text-align:center;
	font-family:arial;
}

span{
	color:#FF83FA;
}

div{
	position:relative;
	border: 0px solid black;
	height:auto;
	width:auto;
}

h2{
	color:white;
	font-size:25px;
	font-weight: bold;
}

button{
	font-size: 30px;
}
h3{
	color:white;
	font-size:30px;
	font-weight: bold;
}
.kompot{
	margin-left:15%;
	float:left;
}

.sok{
	margin-right:15%;
	float:right;
}